<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Moody Tunes</h1>
      </div>
    </header>
    <div class="container">
        <form action = "http://localhost:5000/result" method = "POST">
          <p>Artist <input type = "text" name = "Artist" /></p>
          <p>Song <input type = "text" name = "Song" /></p>
          <p><input type = "submit" value = "submit" /></p>
        </form>
        {% if result %}
        <p>{{result}}</p>
        {% endif %}
    </div>
  </body>
</html>